
<div class = "pic"></div>
<div class = "shindankekka">
<img src = "https://upload.wikimedia.org/wikipedia/commons/c/c3/RH_Louise_Lillian_Gish.jpg",width="400px"height="400px">
<div class = "box">
<div class>診断結果</div>
<p>happiness(幸福）:<%= @emotion_log.happiness %></p>
<p>neutral（平常）:<%= @emotion_log.neutral %></p>
<p>sadness（悲しみ）:<%= @emotion_log.sadness %></p>
<p>surprise(驚き）:<%= @emotion_log.surprise %></p>
<p>anger(怒り):<%= @emotion_log.anger %></p>
<p>contempt(軽蔑):<%= @emotion_log.contempt%></p>
<p>disgust(嫌悪):<%= @emotion_log.disgust %></p>
<p>fear(恐怖):<%= @emotion_log.fear%></p>
</div>
</div>
    </body>

</html>