<!DOCTYPE html>
<html>
  <head>
    <title>Neba2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="index.html" class="logo"><img src="./images/logo.png"></a>

      <div id="nav-button" class="nav-button">
       <div class="button0">
        <%= link_to 'HOME', :controller => "top", :action => "index",class:""%>
        </div>
        <div class="button1">
        <%= link_to '気持ち日記', :controller => "diaries", :action => "new",class:"link"%>
        </div>
        <div class="button2">
        <%= link_to '気持ち診断', :controller => "emotion_logs", :action => "new" %>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
